<div class="container-toolbar">
    <mat-form-field appearance="outline">
        <mat-label>Pesquisa</mat-label>
        <input matInput (keyup)="filter($any($event.target).value)" placeholder="Digite o valor a ser pesquisado">
    </mat-form-field>
    <button mat-raised-button color="primary" routerLink="/relatorios/new">Novo relatório</button>
  </div>
  <div class="div-table mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="Setor">
          <th mat-header-cell *matHeaderCellDef>Setor</th>
          <td mat-cell *matCellDef="let element">{{ element.setor }}</td>
        </ng-container>
        <ng-container matColumnDef="HoraInicial">
          <th mat-header-cell *matHeaderCellDef>Horário inicial</th>
          <td mat-cell *matCellDef="let element">{{ element.horaInicial }}</td>
        </ng-container>
        <ng-container matColumnDef="Agente">
            <th mat-header-cell *matHeaderCellDef>Agente</th>
            <td mat-cell *matCellDef="let element">{{ element.agente.nome }}</td>
          </ng-container>
        <ng-container matColumnDef="uid">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" class="actions">
            <button mat-button routerLink="/relatorios/{{ element.uid }}">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="delete(element)" mat-button>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns;"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
    </div>
  