<div class="container">
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <mat-form-field class="full-width">
                <input matInput placeholder="Username" [(ngModel)]="form.username"/>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Senha" type="password" [(ngModel)]="form.senha"/>
            </mat-form-field>
            <button mat-raised-button color="primary" class="full-width" (click)="login()">Logar</button>
        </mat-card-content>
    </mat-card>
</div>