@import '../../shared/global.scss';

mat-card {
    max-width: 400px;
    max-height: 200px;
  }
  mat-card-container {
    padding-top: 20px;
  }
  .container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
  }