<div class="container-toolbar">
    <mat-form-field appearance="outline">
        <mat-label>Pesquisa</mat-label>
        <input matInput placeholder="teste">
    </mat-form-field>
    <button mat-raised-button color="primary" routerLink="/relatorios/new">Novo relatório</button>
</div>
<div class="div-table mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="Relatorios">
            <th mat-header-cell *matHeaderCellDef>Relatórios</th>
            <td mat-cell *matCellDef="let element">{{element.agenteMatricula}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
</div>
