<div class="container">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome" [(ngModel)]="agente.nome" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Matrícula</mat-label>
      <textarea matInput placeholder="Matrícula" rows="4"
        [(ngModel)]="agente.matricula" required></textarea>
    </mat-form-field>
    <div class="toolbar___form">
      <button mat-raised-button routerLink="/agentes">Cancelar</button>
      <button mat-raised-button color="primary" (click)="save()">Salvar</button>
    </div>
  
  </div>