<div class="rop___container_body">
  <mat-toolbar color="primary" class="rop___toolbar" *ngIf="isLogged">
    <button mat-icon-button color="dark" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="link" routerLink="/" (click)="sidenav.toggle()">ROP</h1>
  </mat-toolbar>
  <mat-sidenav-container class="rop___sidenav-container" [ngClass]="{'clear-margin-top': !isLogged}">
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>
        <h3 mat-subheader>Cadastros</h3>
        <a mat-list-item routerLink="/relatorios" (click)="sidenav.toggle()">
          <mat-icon>article</mat-icon>
          Relatório
        </a>
        <!-- <a mat-list-item>
          <mat-icon>assignment</mat-icon>
          Questões
        </a> -->

        <h3 mat-subheader>Segurança</h3>
        <a mat-list-item routerLink="/agentes" (click)="sidenav.toggle()">
          <mat-icon>security</mat-icon>
          Usuários
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <ngx-spinner></ngx-spinner>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>