@import './shared/global.scss';

.rop___container_body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .rop___toolbar {
    position: fixed;
    z-index: 2;
  }
  
  .rop___sidenav-container {
    flex: 1;
    margin-top: 58px;
    // margin-bottom: 20px;
  }

  .clear-margin-top {
    margin-top: 0 !important;
  }
  
  mat-sidenav-content {
    margin-top: 20;
    margin-bottom: 20px;
    padding: 30px;
  }
  
  mat-sidenav mat-nav-list {
    min-width: 250px;
    & 
      .mat-list-item {
        margin-left: 20px;
      }
      .mat-subheader {
        margin-left: 0px !important;
      }
      .mat-subheader:first-child {
        margin-top: 0px;
      }
  }