<div class="container">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Horário inicial</mat-label>
    <input matInput type="time" placeholder="Horário inicial do serviço" [(ngModel)]="relatorio.horaInicial" required>
  </mat-form-field>

  <section>
    <mat-checkbox [(ngModel)]="relatorio.conduziuViatura" >Conduziu viatura?</mat-checkbox>
  </section>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Data do recebido</mat-label>
    <input matInput type="date" placeholder="Data do recebido" [(ngModel)]="relatorio.dataRecebido" required>
  </mat-form-field>
  
  <mat-form-field  appearance="outline" class="full-width no-margin-right">
    <mat-label>Setor</mat-label>
    <mat-select [(ngModel)]="relatorio.setor.uid">
      <mat-option *ngFor="let setor of setores" [value]="setor.uid">
        {{setor.descricao}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field  appearance="outline" class="full-width no-margin-right">
    <mat-label>Tipo</mat-label>
    <mat-select [(ngModel)]="relatorio.tipo">
      <mat-option *ngFor="let tipo of tipoEnum.values();" [value]="tipo">
        {{tipo}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="toolbar___form">
    <button mat-raised-button routerLink="/relatorios">Cancelar</button>
    <button mat-raised-button color="primary" (click)="save()">Salvar</button>
  </div>
</div>