<div class="container-toolbar">
  <mat-form-field appearance="outline">
      <mat-label>Pesquisa</mat-label>
      <input matInput (keyup)="filter($any($event.target).value)" placeholder="Digite o valor a ser pesquisado">
  </mat-form-field>
  <button mat-raised-button color="primary" routerLink="/agentes/new">Novo agente</button>
</div>
<div class="div-table mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="Nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
      </ng-container>
      <ng-container matColumnDef="Matrícula">
        <th mat-header-cell *matHeaderCellDef>Matrícula</th>
        <td mat-cell *matCellDef="let element">{{ element.matricula }}</td>
      </ng-container>
      <ng-container matColumnDef="uid">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="actions">
          <button mat-button routerLink="/agentes/{{ element.uid }}">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="delete(element)" mat-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns;"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
  </div>
